<div *ngIf="song" class="single-song" (click)="onSongClicked(song)">
    <!-- regular song type -->
    <ng-container *ngIf="layoutType === undefined">
        <div class="col-md-55">
            <div class="thumbnail">
                <div class="image view view-first">
                    <img style="width: 100%; display: block;" src="{{song.thumbnail}}" alt="image" />
                    <div class="mask">
                        <p>{{song.song | ellipsis:15 }}</p>
                        <div class="tools tools-bottom">
                            <a href="#">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="caption">
                    <p>
                        <strong>{{song.song | ellipsis:15 }}</strong>
                    </p>
                    <p>{{song.artist | ellipsis:15 }}</p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="layoutType === 'item--with-image'">
        <mat-card class="list-item">
            <a class="image-mask"></a>
            <img mat-card-image src="{{song.thumbnail}}">
            <div class="info-area">
                <h3 class="list-item__title">
                    {{indexInList + 1}}
                </h3>
                <div class="list-item__content">
                    <p class="song-name">{{song.song | ellipsis:25 }}</p>
                    <a class="song-artist">{{song.artist | ellipsis:25 }}</a>
                </div>
                <div class="list-item__views">
                    <span class="glyphicon glyphicon-headphones">3000</span>
                </div>
            </div>
        </mat-card>
    </ng-container>
    <ng-container *ngIf="layoutType === 'item--no-image'">
        <mat-card class="list-item list-item--no-image">
            <div class="info-area">
                <button mat-button class="play-button"><span class="fa fa-play"></span></button>
                <div class="list-item__content">
                    <p class="song-name">{{song.song | ellipsis:25 }}</p>
                    <a class="song-artist">{{song.artist | ellipsis:25 }}</a>
                </div>
                <div class="list-item__views">
                    <span class="glyphicon glyphicon-headphones">5540</span>
                </div>
            </div>
        </mat-card>
    </ng-container>
</div>