<div class="home-page-content">
    <div class="left-side">
        <div class="newest-area">
            <main-carousel [mostPopularSongs]="mostPopularSongs"></main-carousel>
        </div>
        <div class="recommmendation-area">
            <div class="right_col" role="main" style="min-height: 1054px;">
                <carousel [songs]="listenedSongs" [title]="'Nghe lại nào'"></carousel>
                <carousel [songs]="collaborativeSongs" [title]="'Có thể bạn sẽ thích'"></carousel>
                <ng-container *ngIf="userEventRecommendations">
                    <carousel *ngFor="let userEventRecommendation of userEventRecommendations"
                        [songs]="userEventRecommendation.relatedSongs"
                        [title]="'Vì bạn đã ' + getActionRecommendText(userEventRecommendation.actionType) + ' ' + userEventRecommendation.interactedSong.song"></carousel>
                </ng-container>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="top-monthly-area">
            <vertical-list [layoutType]="'item--with-image'" [title]="'Bảng xếp hạng tháng'" [songs]="mostPopularSongs"></vertical-list>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
