<div class="container body">
    <div class="main_container">
        <main-navigation></main-navigation>
        <div class="right_col" role="main" style="min-height: 1054px;">
            <div class="">
                <carousel [songs]="collaborativeSongs" [title]="'Nghe lại'"></carousel>
                <carousel [songs]="collaborativeSongs" [title]="'Gợi ý cho bạn'"></carousel>
                <carousel [songs]="contentbasedSongs" [title]="'Có thể bạn sẽ thích'"></carousel>
                <div class="clearfix"></div>
            </div>
        </div>
        <footer-area></footer-area>
    </div>
</div>