<a class="social-buttons__action" title="Chia sẻ"
(click)="onShareClick()">
    <span class="fa fa-share-alt-square"></span>
    <span class="social-buttons__text">Chia sẻ</span>
</a>
<div class="detail-page-content" *ngIf="currentSong">
    
    <div class="left-side">
        <div class="song-detail">
            <mat-card class="play-area">
                <div class="play-area__image" [ngStyle]="{'background-image': 'url(' + currentSong.thumbnail + ')'}">
                </div>
                <div class="play-area__texts">
                    <p class="artist">{{currentSong.artist}}</p>
                    <p class="name">{{currentSong.song}}</p>
                </div>
                <iframe *ngIf="currentIframeSource" scrolling="no" class="player-area__player"
                        [src]="currentIframeSource"
                        frameborder="0"
                        allowfullscreen="true"></iframe>
                <div class="play-area__social">
                    <div class="rating-area">
                        <star-rating-comp class="rating__user-rate"
                            [labelText]="'Đánh giá'"
                            [starType]="'svg'"
                            [labelPosition]="'left'"
                            [staticColor]="'positive'"
                            [size]="'medium'"
                            (onClick)="onRatingClick($event)"
                            (onRatingChange)="onRatingChange($event)"
                            [rating]="userRateForCurrentSong">
                        </star-rating-comp>
                        <star-rating-comp class="rating__song-rate"
                            [labelText]="currentSong.averageRating + '/5'"
                            [starType]="'svg'"
                            [labelPosition]="'left'"
                            [rating]="currentSong.averageRating"
                            [size]="'medium'" [showHalfStars]="true" [readOnly]="true">
                        </star-rating-comp>
                    </div>
                    <div class="social-buttons">
                        <a class="social-buttons__action" title="Thêm vào yêu thích"
                        (click)="onAddToFavouriteClick()">
                            <span class="fa fa-plus"></span>
                            <span class="social-buttons__text">Thêm yêu thích</span>
                        </a>
                        <a class="social-buttons__action" title="Chia sẻ"
                        (click)="onShareClick()">
                            <span class="fa fa-share-alt-square"></span>
                            <span class="social-buttons__text">Chia sẻ</span>
                        </a>
                        <a class="social-buttons__action" title="Tải"
                        (click)="onDownloadClick()">
                            <span class="fa fa-download"></span>
                            <span class="social-buttons__text">Tải Xuống</span>
                        </a>
                    </div>
                    <div class="listened">
                        <span class="glyphicon glyphicon-headphones"></span>
                        {{currentSong.listened}}
                    </div>
                </div>
            </mat-card>
            <div class="infor-area">
                <div class="infor-area__description"></div>
                <div class="infor-area__lyric"></div>
            </div>
            <carousel [songs]="similarSongs" [title]="'Bài hát liên quan'"></carousel>
        </div>
    </div>
    <div class="right-side">
        <div class="album-area">
            <vertical-list [layoutType]="'item--no-image'" [title]="'Bài hát kế tiếp'" [songs]="nextPlaySongs"></vertical-list>
        </div>
    </div>
    <div class="clearfix"></div>
</div>