<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                    <h3>Giới thiệu</h3>
                    <ul>
                        <li>
                            <a href="#">Thương hiệu</a>
                        </li>
                        <li>
                            <a href="#">Chính sách</a>
                        </li>
                        <li>
                            <a href="#">Đối tác</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                    <h3>Liên hệ chúng tôi</h3>
                    <ul>
                        <li>
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <a href="#">Instagram</a>
                        </li>
                        <li>
                            <a href="#">LinkedIn</a>
                        </li>
                        <li>
                            <a href="#">Google</a>
                        </li>
                        <li>
                            <a href="#">Liên hệ việc làm</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                    <h3>Trợ giúp</h3>
                    <ul>
                        <li>
                            <a href="#">Sơ đồ trang</a>
                        </li>
                        <li>
                            <a href="#">Thỏa thuận dịch vụ</a>
                        </li>
                        <li>
                            <a href="#">Trung tâm hỗ trợ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3>Ý kiến đóng góp</h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <mat-form-field class="full text-center">
                                    <textarea matInput placeholder="Ý kiến" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                                </mat-form-field>
                                <button mat-raised-button class="btn" color="accent">Gửi
                                    <i class="fa fa-long-arrow-right"> </i>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li>
                            <a href="#">
                                <i class=" fa fa-facebook">   </i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter">   </i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus">   </i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-pinterest">   </i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-youtube">   </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Music website. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li>
                        <i class="fa fa-cc-visa"></i>
                    </li>
                    <li>
                        <i class="fa fa-cc-mastercard"></i>
                    </li>
                    <li>
                        <i class="fa fa-cc-amex"></i>
                    </li>
                    <li>
                        <i class="fa fa-cc-paypal"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>