<div class="top-header">
    <div (click)="onLogoClicked()" class="top-header__logo">
        <i class="fa fa-music"></i>
    </div>
    <div class="top-header__search-area">
        <top-search class="search-area__content" [placeholderText]="'Tìm kiếm tên bài hát, nhạc sỹ, ca sĩ'"></top-search>
    </div>
    <div class="top-header__main-nav">
        <a *ngIf="!loggedInInfo" mat-button class="login-button" routerLink="." (click)="showLoginForm()">Đăng nhập</a>
        <a *ngIf="loggedInInfo" class="user-profile dropdown-toggle login-button"
            (click)="onUserClicked()"
            mat-button
            [matMenuTriggerFor]="menu"
            data-toggle="dropdown"
            aria-expanded="false">
            <img src="{{loggedInUser.avatarUrl}}" alt="">{{loggedInUser.firstname}}
            <span class=" fa fa-angle-down"></span>
        </a>
        <mat-menu class="user-menu" #menu="matMenu" [yPosition]="'above'" [overlapTrigger]="false">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item (click)="onLogoutClicked()">Log Out</button>
        </mat-menu>
    </div>
</div>